<section>
    <div class="contact-text">
        <div class="headline">
            <span>{{ "contact" | translate }}</span>
            <h1>{{ "letsWork" | translate }}</h1>
        </div>
        <div class="main-text">
            <span>{{ "gotProblem" | translate }}</span>
            <p>{{ "contactText" | translate }}</p>
            <p>
                {{ "needDeveloper" | translate }} 
                <a>{{ "letsTalk2" | translate }}</a>
            </p>
        </div>
    </div>
    <div class="contact-form">
        <form>
            <div class="green-line"></div>

            <div class="form-element">
                <label for="name">{{ "formName" | translate }}</label>
                <input type="text" id="name" name="name" placeholder="{{ 'placeholderName' | translate }}">
            </div>

            <div class="green-line"></div>

            <div class="form-element">
                <label for="email">{{ "formMail" | translate }}</label>
                <input type="text" id="email" name="email" placeholder="{{ 'placeholderMail' | translate }}">
            </div>

            <div class="green-line"></div>

            <div class="form-element">
                <label for="message">{{ "formMessage" | translate }}</label>
                <textarea name="message" id="message" placeholder="{{ 'placeholderMessage' | translate }}"></textarea>
            </div>

            <div class="green-line"></div>

            <label class="checkbox-policy">
                <p>{{ "acceptPrivacyFirst" | translate }}<a href='imprint'>{{ "privacyLink" | translate }}</a>{{ "acceptPrivacyLast" | translate }}</p>
                <input type="checkbox" id="privacy-policy" name="privacy-policy">
                <span class="checkmark"></span>
            </label>

            <label class="submit-btn btn">
                <input type="submit" value="">
                <span>{{ "sayHello" | translate }}</span>
            </label>

        </form>
    </div>
</section>
