<section>
    <div class="contact-text">
        <div class="headline">
            <span>Contact me</span>
            <h1>Let's work together</h1>
        </div>
        <div class="main-text">
            <span>Got a problem to solve?</span>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend Developer? <a>Let's talk!</a></p>
        </div>
    </div>
    <div class="contact-form">
        <form>
            <div class="green-line"></div>

            <div class="form-element">
                <label for="name">What's your name?</label>
                <input type="text" id="name" name="name" placeholder="Your name goes here">
            </div>

            <div class="green-line"></div>

            <div class="form-element">
                <label for="email">What's your email?</label>
                <input type="text" id="email" name="email" placeholder="youremail@email.com">
            </div>

            <div class="green-line"></div>

            <div class="form-element">
                <label for="message">How can I help you?</label>
                <textarea name="message" id="message" placeholder="Hello Anna, I am interested in..."></textarea>
            </div>

            <div class="green-line"></div>

            <label class="checkbox-policy">
                <p>I've read the <a href="imprint">privacy policy</a> and agree to the processing of my data as outlined.</p>
                <input type="checkbox" id="privacy-policy" name="privacy-policy">
                <span class="checkmark"></span>
            </label>

            <label class="submit-btn btn">
                <input type="submit" value="">
                <span>Say hello :)</span>
            </label>

        </form>
    </div>
</section>
