<header [ngClass]="{'black': project.isBlack}" [ngClass]="{'imprint': project.atImprint}" [ngClass]="{'bg-hero': project.isColored}">
    <div class="desktop-header">
        <nav>
            <div class="language-toggle">
                <input type="checkbox" id="switch" [(ngModel)]="translate.isChecked">
                <label for="switch">
                    <span (click)="translate.switchLanguage('de')">DE</span>    
                    <span (click)="translate.switchLanguage('en')">EN</span>
                </label>
            </div>
            <a #aboutLink (click)="project.scrollToSection('about-me', aboutLink)">{{ 'about' | translate}}
                <div class="hover-dot"></div>
            </a>
            <a #skillsetLink (click)="project.scrollToSection('skillset', skillsetLink)">{{ 'skills' | translate}}
                <div class="hover-dot"></div>
            </a>
            <a #projectsLink (click)="project.scrollToSection('projects', projectsLink)">{{ 'projects' | translate}}
                <div class="hover-dot"></div>
            </a>
        </nav>
        <a href="#hero">
            <img src="assets/icons/logoAFbig.svg" alt="Anna Fritz Logo" [ngClass]="{'newLogoSize' : project.isColored}">
        </a>
    </div>
    <div class="mobile-header" [ngClass]="{'black': project.isBlack}" [ngClass]="{'imprint': project.atImprint}">
        <a href="#hero">
            <img src="assets/icons/logoAF.svg" alt="logo initials">
        </a>
        <div class="menu-cont">
                <input (click)="project.toggleMenu()" [(ngModel)]="project.menuToggle" type="checkbox" id="toggle">
                <label for="toggle" class="hamburger">
                    <div class="top"></div>
                    <div class="meat"></div>
                    <div class="bottom"></div>
                </label>
            @if (project.menuIsOpen){
                <div class="dropdown">
                    <a #aboutLink (click)="project.scrollToSection('about-me', aboutLink); project.closeMenu()">{{ 'about' | translate}}</a>
                    <a #skillsetLink (click)="project.scrollToSection('skillset', skillsetLink); project.closeMenu()">{{ 'skills' | translate}}</a>
                    <a #projectsLink (click)="project.scrollToSection('projects', projectsLink); project.closeMenu()">{{ 'projects' | translate}}</a>
                    <div class="language-toggle">
                        <input type="checkbox" id="switchMobile" [(ngModel)]="translate.isChecked">
                        <label for="switchMobile">
                            <span (click)="translate.switchLanguage('de')">DE</span>    
                            <span (click)="translate.switchLanguage('en')">EN</span>
                        </label>
                    </div>
                </div>    
            }
        </div>
    </div>
</header>

