<header>
    <nav>
        <div class="language-toggle">
            <div [ngClass]="toggleDirection" class="toggle-element">{{currantLanguage}}</div>
            <span (click)="toggleLanguage()">EN</span>
            <span (click)="toggleLanguage()">DE</span>
        </div>
        <a href="#about-me">About me
            <div class="hover-dot"></div>
        </a>
        <a href="#skills">Skills
            <div class="hover-dot"></div>
        </a>
        <a href="#projects">Projects
            <div class="hover-dot"></div>
        </a>
    </nav>
    <img src="" alt="">
</header>

