<header>
    <div class="desktop-header">
        <nav>
            <div class="language-toggle">
                <div [ngClass]="toggleDirection" class="toggle-element">{{currantLanguage}}</div>
                <span (click)="translate.switchLanguage('en'); toggleLanguage()">EN</span>
                <span (click)="translate.switchLanguage('de'); toggleLanguage()">DE</span>
            </div>
            <a href="#about-me">{{ 'about' | translate}}
                <div class="hover-dot"></div>
            </a>
            <a href="#skills">{{ 'skills' | translate}}
                <div class="hover-dot"></div>
            </a>
                <a href="#projects">{{ 'projects' | translate}}
                <div class="hover-dot"></div>
            </a>
        </nav>
        <img src="assets/icons/logoAF.svg" alt="Anna Fritz Logo">
    </div>
    <div class="mobile-header">
        <img src="assets/icons/logoAF.svg" alt="logo initials">
        <div class="menu-cont">
            <div (click)="project.toggleMenu()" class="menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            @if (project.menuIsOpen){
                <div class="dropdown">
                    <a href="#about-me">About me</a>
                    <a href="#skills">Skills</a>
                    <a href="#projects">Projects</a>
                    <div class="language-toggle">
                        <div [ngClass]="toggleDirection" class="toggle-element">{{currantLanguage}}</div>
                        <span (click)="toggleLanguage()">EN</span>
                        <span (click)="toggleLanguage()">DE</span>
                    </div>    
                </div>    
            }
        </div>
    </div>
</header>

