@import './../../../styles.scss';

header {
    background: linear-gradient(85.22deg, #1C1C1C 4.26%, #08463B 93.28%);
    .desktop-header {
        @include dFlex($jc: space-between);
        padding: 7vh 8% 0 8%;
        width: 100%;
        box-sizing: border-box;
        background: linear-gradient(164.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        @media(min-width: 1440px) {
            width: 1440px;
            margin: 0 auto;
            padding: 64px 115px 0 115px;
            background: none;
        }
            >nav{
            @include dFlex($jc: space-between, $g: 20px);
            >a {
                position: relative;
                color: white;
                font-size: 20px;
                text-decoration: none;
                cursor: pointer;
                &:hover .hover-dot {
                    visibility: visible;
                }
                &:hover {
                    color: $lightGreen;
                }
            }
        }
        >a >img {
            height: 80px;
            cursor: pointer;
            &:hover {
                filter: drop-shadow(0px 0px 8px $lightGreen);
            }
        }
    }
    .mobile-header {
        @include dFlex($jc: space-between);
        padding: 1vh 8% 1vh 8%;
        width: 100%;
        box-sizing: border-box;
        background: linear-gradient(95.22deg, rgb(28, 28, 28, 0.7) -15%, rgb(8, 70, 59) 93.28%);
        @media(max-width: 720px) {
            background: linear-gradient(95.22deg, rgb(28, 28, 28, 0.7) -25%, rgb(8, 70, 59) 93.28%);
        }
        @media(max-width: 620px) {
            background: linear-gradient(115.22deg, rgb(28, 28, 28, 0.7) -35%, rgb(8, 70, 59) 93.28%);
        }
        @media(max-width: 480px) {
            background: linear-gradient(145.22deg, rgb(28, 28, 28, 0.7) -35%, rgb(8, 70, 59) 93.28%);
        }
        >a >img {
            height: 8vh;
            &:hover {
                filter: drop-shadow(0px 0px 8px $lightGreen);
            }  
        }
        .menu-cont {
            position: relative;
            // @include dFlex($jc: flex-end, $ai: space-between);
            // flex-direction: column;
            .menu {
                @include dFlex($jc: space-between, $g: 12px);
                flex-direction: column;
                cursor: pointer;
                &:hover .line {
                    background-color: $lightGreen;
                }
                .line {
                    height: 3px;
                    width: 56px;
                    border-radius: 5px;
                    background-color: white;
                }
            }
            .dropdown {
                position: absolute;
                right: 0;
                margin-top: 15px;
                @include dFlex($jc: space-between, $ai: flex-start, $g: 30px);
                flex-direction: column;
                border: solid 1px $lightGreen;
                border-radius: 30px;
                background: $bgColorGradient;
                padding: 40px 80px;
                >a {
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                }  
            }
        }
    }
}

.hover-dot {
    visibility: hidden;
    position: absolute;
    bottom: -15px;
    left: 45%;
    height: 7px;
    width: 7px;
    background-color: $lightGreen;
    border-radius: 5px;
}

.language-toggle {
    position: relative;
    z-index: 2;
    @include dFlex($jc: space-between, $g: 24px);
    border: solid 1px $lightGreen;
    border-radius: 20px;
    padding: 5px 12px;
    color: $hoverGreen;
    cursor: pointer;
    &:hover {
        border: solid 1px white;
        color: $lightGreen;
    }    
}

.toggle-element {
    position: absolute;
    // right: -1px;
    z-index: 1;
    background-color: $lightGreen;
    height: 105%;
    width: 55%;
    border-radius: 19px;
    @include dFlex();
    color: white;
    font-weight: 600;
    transition: 2s ease;
    // transition: right 0.5s ease;
}

.right {
    right: -1px;
    transform: rotate(360deg);
}

.left {
    left: -1px;
    transform: rotate(-360deg);
}

.black {
    background: #1C1C1C !important;
}

.imprint {
    background: linear-gradient(0deg, #1C1C1C 5%, #08463B 93.28%) !important;
}



@media(min-width: 920px) {
    .mobile-header {
        display: none !important;
    }
}
@media(max-width: 920px) {
    .desktop-header {
        display: none !important;
    }
}
@media(max-width: 350px) {
    .dropdown {
        padding: 40px 60px !important; 
    }
}