@import './../../../styles.scss';

section {
    position: relative;
    background-color: $bgColor;
    padding: 0 8% 120px 8%;
    width: 100%;
    box-sizing: border-box;
    @media(min-width: 1440px) {
        width: 1440px;
        margin: 0 auto;
        padding: 0 132px 132px 132px;
    }  
    @media(max-width: 500px) {
        padding: 0 15px 120px 15px;
    }  
    .content {
        width: 68.5%;
        @media(max-width: 983px) {
            width: 100%;
        }
        >span {
            color: $lightGreen;
            font-family: 'Karla';
            font-size: 24px;
            margin-bottom: 24px;
            @media(max-width: 630px) {
                font-size: 18px;
            }
        }
        h1 {
            color: $lightGreen;
            font-size: 64px;
            margin: 0;
            @media(max-width: 850px) {
                font-size: 56px;
            }   
        }
        >p {
            color: white;
            font-size: 18px;
            font-family: 'Karla';
            margin: 32px 0;
            font-family: Karla;
            line-height: 21.6px;
            text-align: justified;
        }
        .projects-overview {
            .line {
                height: 1px;
                width: 100%;
                background-color: $lightGreen;
            }
            .project {
                position: relative;
                @include dFlex($jc:space-between);
                padding: 32px 0 32px 32px;
                width: 100%;
                box-sizing: border-box;
                @media(max-width: 650px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                @media(max-width: 500px) {
                    padding: 32px 0 32px 0;
                }
                &:hover {
                    background-color: #3DCFB61A;
                    cursor: pointer;
                }
                &:hover >span >img {
                    visibility: visible;
                    opacity: 1;
                }
                &:hover .project-img {
                    visibility: visible;
                    opacity: 1;
                }
                &:hover .stripes-cont {
                    visibility: visible;
                    opacity: 1;
                    right: -382px;
                    bottom: - 64px;
                    @media(max-width: 1160px) {
                        right: -330px;
                    }
                    // right: -47%;
                    // bottom: -68%;
                }
                >span {
                    color: white;
                    font-size: 24px;
                    font-weight: 700;
                    position: relative;
                    @media(max-width: 650px) {
                        margin-bottom: 12px;
                    }    
                    >img {
                        position: absolute;
                        bottom: 2px;
                        right: -32px;
                        height: 24px;
                        visibility: hidden;
                        transition: 0.6s ease;
                        opacity: 0;
                    }    
                }
                .project-stack {
                    @include dFlex($jc: flex-start, $g: 0);
                    @media(max-width: 650px) {
                        // width: 100%;
                        height: auto;
                        flex-wrap: wrap !important;
                    }    
                    >span {
                        color: white;
                        font-size: 18px;
                        font-family: 'Karla';
                        @media(max-width: 500px) {
                            margin-bottom: 10px;
                        }
                    }
                    .green {
                        color: $lightGreen;
                        margin: 0 8px;
                        @media(max-width: 500px) {
                            margin: 0 8px 10px 8px;
                        }
                    }    
                }
                .project-img {
                    position: absolute;
                    right: -364px;
                    z-index: 2;
                    height: 192px;
                    border-radius: 20px;
                    visibility: hidden;
                    transition: 0.6s ease;
                    opacity: 0;
                    @media(max-width: 1160px) {
                        right: -312px;
                    }
                    @media(max-width: 983px) {
                        display: none;
                    }
                }
                .stripes-cont {
                    position: absolute;
                    right: -364px;
                    // right: -45%;
                    // right: -47%;
                    // bottom: -68%;
                    height: 192px;
                    width: 296px;
                    visibility: hidden;
                    transition: 0.6s ease;
                    opacity: 0;
                    @media(max-width: 1160px) {
                        right: -312px;
                    }
                    @media(max-width: 983px) {
                        display: none;
                    }
                    .bg-stripes {
                        height: 100%;
                        width: 100%;    
                        border-radius: 20px;
                        transition: 1s ease-in-out;
                        background: repeating-linear-gradient(
                            135deg,
                            $lightGreen,
                            $lightGreen 1px,
                            transparent 1px,
                            transparent 10px,
                            );            
                    }    
                }
            }    
        }
    }
}

.project-popup {
    position: fixed;
    z-index: 10;
    @include dFlex();
    // @include dFlex($ai: flex-end);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // height: 90%;
    background: rgba(0, 0, 0, 0.2);
}


// @media(min-width: 1440px) {
//     section {
//         width: 1440px;
//         margin: 0 auto;
//     }
//     .project {
//         width: 1440px;
//     }
// }
