<section (mouseenter)="projectdata.setNavbarBlack()">
  <div class="content">
    <span>Portfolio</span>
    <h1>{{ "featuredProjects" | translate }}</h1>
    <p [innerHTML]="'projectExplain' | translate"></p>
    <div class="projects-overview">
      @for (project of projectdata.project; track $index) {
        <div class="line"></div>
        <div (click)="openPopup($index)" class="project">
          <span>{{project.name}}
              <img src="assets/icons/arrow-right-up.svg" alt="arrow">
              <div>
                <span>{{project.stacklevel}}</span>
              </div>
          </span>
          <div class="project-stack">
            @for (skill of projectdata.project[$index].skills; track $index) {
              <span>{{skill.name}}</span>
              <span class="green">{{skill.separator}}</span>
            }
          </div>
          <img class="project-img" src="{{project.img}}" alt="project preview">
          <div class="stripes-cont">
              <div #stripes class="bg-stripes"></div>
          </div>
        </div>  
      }
      <div class="line"></div>
    </div>
  </div>
</section>



