<section>
    <app-header class="header"></app-header>
    <div class="headline">
        <span class="job-title">Frontend Developer</span>
        <span class="name">Anna Fritz</span>
        <div class="headline-btns">
            <a href="#projects" class="btn">Check my work</a>
            <a href="#contact" class="btn">Contact me</a>
        </div>
    </div>
    <div class="vertical-elements">
        <div class="left-vertical">
            <div class="arrow">
                <img src="./../../../assets/icons/arrow-down.svg" alt="">
            </div>
            <div class="left-line"></div>
        </div>
        <div class="right-vertical">
            <a href="mailto:anna.fritz@email.com">{{mail}}</a>
            <img src="./../../../assets/icons/Github.svg" alt="github">
            <img src="./../../../assets/icons/Linkedin.svg" alt="linkedIn">
            <div class="right-line"></div>
        </div>
    </div>
    <div class="banner">
        <div class="moving-text">
            <div class="dot"></div>
            <span>Avaible for remote work</span>
            <div class="dot"></div>
            <span>Frontend Developer</span>
            <div class="dot"></div>
            <span>Based in Laufenburg (Baden)</span>
            <div class="dot"></div>
            <span>Open to work</span>
            <div></div>
        </div>
        <div class="moving-text">
            <div class="dot"></div>
            <span>Avaible for remote work</span>
            <div class="dot"></div>
            <span>Frontend Developer</span>
            <div class="dot"></div>
            <span>Based in Laufenburg (Baden)</span>
            <div class="dot"></div>
            <span>Open to work</span>
        </div>
    </div>
</section>
