<section (mouseenter)="projectdata.setNavbarBlack()">
    <div class="main-content">
        <div (mouseenter)="showStripes(stripes)">
            <img class="upper-photo" src="assets/img/anna_fsw.jpg" alt="">
            <img class="photo" src="assets/img/anna_fsw.jpg" alt="">
            <div #stripes class="bg-stripes"></div>
        </div>
        <div class="about-me-cont">
            <span class="about-me-description">{{ "who" | translate }}</span>
            <div class="about-me">
                <span class="headline">{{ "about" | translate }}</span>
                <p>{{ "aboutGeneral" | translate }}</p>
                <div class="about-me-paragraph">
                    <img src="assets/icons/mapping_pin.svg" alt="location icon">
                    <p>{{ "aboutRemote" | translate }}</p>
                </div>
                <div class="about-me-paragraph">
                    <img src="assets/icons/bulb.svg" alt="open mind icon">
                    <p>{{ "aboutMind" | translate }}</p>
                </div>
                <div class="about-me-paragraph">
                    <img src="assets/icons/puzzle.svg" alt="check icon">
                    <p>{{ "aboutSolving" | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
