@import './../../../styles.scss';

section {
    background: #1C1C1C;
    width: 100%;
    padding: 120px; 
    box-sizing: border-box;
    @include dFlex();
    .main-content {
        @include dFlex($jc: space-between, $ai: space-between, $g: 8%);
        width: 100%;
        >div {
            position: relative;
            height: 100%;
            .photo {
                border-radius: 30px;
                width: 30vw;
            }
            .bg-stripes {
                position: absolute;
                top: 0;
                left: 0;
                height: 98%;
                width: 100%;
                border-radius: 30px;
                transition: 1s ease-in-out;
                background: repeating-linear-gradient(
                    45deg,
                    $lightGreen,
                    $lightGreen 1px,
                    transparent 1px,
                    transparent 25px,
                    );
            }
            .upper-photo {
                position: absolute;
                border-radius: 30px;
                width: 30vw;
                z-index: 2;  
            }
        }
        .about-me-cont{
            @include dFlex($ai: flex-start, $jc: flex-end);
            flex-direction: column;
            margin-top: 200px;
            .about-me-description {
                font-size: 24px;
                color: $lightGreen;
                font-family: 'Karla';
                margin-bottom: 24px;
            }        
        }
    }
    .about-me {
        padding: 32px;
        border: solid 1px $lightGreen;
        border-radius: 30px;
        background-color: #3DCFB61A;
        .headline{
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 32px;
            color: $lightGreen;
        }
        >p {
            color: white;
            font-family: 'Karla'
        }
        .about-me-paragraph {
            @include dFlex($jc: space-between, $g: 12px);
            color: $blurredWhite;
            font-family: 'Karla';
            &:hover {
                color: white;
            }
        }
    
    }
}

.hover-stripes {
    left: -8%;
    top: 5%;
}