@import './../../../styles.scss';
// @import "compass/css3";

section {
    background: $bgColor;
    width: 100%;
    padding: 8% 8% 0 8%; 
    box-sizing: border-box;
    @include dFlex();
    @media(min-width: 1440px) {
        width: 1440px;
        margin: 0 auto;
        padding: 120px 132px 0 132px;
    }
    @media(max-width: 920px) {
        padding-top: 130px;
    }
    @media(max-width: 450px) {
        padding: 88px 15px 0 15px;
    }
    .main-content {
        @include dFlex($jc: space-between, $ai: space-between, $g: 8%);
        width: 100%;
        @media(max-width: 850px) {
            flex-direction: column;
            align-items: center;
        }
        >div {
            position: relative;
            height: 100%;
            .photo {
                position: relative;
                border-radius: 30px;
                width: 25vw;
                z-index: 4;
                @media(min-width: 1440px) {
                    width: 418px;
                }
                @media(max-width: 850px) {
                    width: 40vw;
                }  
                @media(max-width: 630px) {
                    width: 60vw;
                    align-self: center;
                }  
                @media(max-width: 450px) {
                    width: 100%;
                }  
            }
            .bg-stripes {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                height: 98%;
                width: 100%;
                border-radius: 30px;
                transition: 1s ease-in-out;
                background: repeating-linear-gradient(
                    45deg,
                    $lightGreen,
                    $lightGreen 1px,
                    transparent 1px,
                    transparent 25px,
                    );
                @media(max-width: 1050px) {
                        background: repeating-linear-gradient(
                            45deg,
                            $lightGreen,
                            $lightGreen 1px,
                            transparent 1px,
                            transparent 21px,
                            );            
                }
                @media(max-width: 850px) {
                    background: repeating-linear-gradient(
                        45deg,
                        $lightGreen,
                        $lightGreen 1px,
                        transparent 1px,
                        transparent 17px,
                        );            
                }
                @media(max-width: 450px) {
                    display: none;
                }
            }
            .upper-photo {
                position: absolute;
                border-radius: 30px;
                width: 25vw;
                z-index: 7;
                // pointer-events: none;
                // transition: mask-image 0.1s ease, -webkit-mask-image 0.1s ease;
                @media(min-width: 1440px) {
                    width: 418px;
                }
                @media(max-width: 850px) {
                    width: 40vw;
                }  
                @media(max-width: 630px) {
                    width: 60vw;
                    align-self: center;
                }  
                @media(max-width: 450px) {
                    width: 100%;
                }  
            }
        }
        .about-me-cont{
            @include dFlex($ai: flex-start, $jc: flex-end);
            flex-direction: column;
            margin-top: 200px;
            @media(max-width: 850px) {
                margin-top: 56px;
            }
            .about-me-description {
                font-size: 24px;
                color: $lightGreen;
                font-family: 'Karla';
                margin-bottom: 24px;
                @media(max-width: 630px) {
                    font-size: 18px;
                }
            }        
        }
    }
    .about-me {
        padding: 32px;
        border: solid 1px $lightGreen;
        border-radius: 30px;
        background-color: #3DCFB61A;
        .headline{
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 32px;
            color: $lightGreen;
            @media(max-width: 850px) {
                font-size: 56px;
            }
            @media(max-width: 400px) {
                font-size: 38px;
            }
        }
        >p {
            color: white;
            font-family: 'Karla';
            font-size: 18px;
        }
        .about-me-paragraph {
            @include dFlex($jc: space-between, $g: 12px);
            color: $blurredWhite;
            font-family: 'Karla';
            &:hover {
                color: white;
            }
            .icon-margin {
                margin-right: 5px;
            }
        }
    }
}

.hover-stripes {
    left: -8%;
    top: 5%;
}

.top {
    display: block !important;
    &:hover {
        display: none !important;
    }
}

.gif {
    position: absolute;
    border-radius: 30px;
    width: 25vw;
    z-index: 6;
    @media(min-width: 1440px) {
        width: 418px;
    }
    @media(max-width: 850px) {
        width: 40vw;
    }  
    @media(max-width: 630px) {
        width: 60vw;
        align-self: center;
    }  
    @media(max-width: 450px) {
        width: 100%;
    }  
}

.pink-btn {
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: 99;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: $lightPink;
    cursor: pointer;
}



.wrapper {
    width: 32px;
    height: 32px;
    // margin: 20px auto;
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 99;
    &:hover {
        transform: scale(1.1);
    }
  }
  
  label {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #b25244;
    background: linear-gradient(#4c4a53, #38373e);
    position: relative;
    color: #615F6A;
    font-size: 70px;
    text-align: center;
    line-height: 150px;
    transition: all 0.3s ease-out;
    text-shadow: 0 2px 1px rgba(0,0,0,0.25);
    z-index: -1;
    box-shadow:
      inset 0 2px 3px rgba(255,255,255,0.13),
      0 5px 8px rgba(0,0,0,0.3),
      0 10px 10px 4px rgba(0,0,0,0.3);
  }
  
  label:after {
     content: ""; 
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    z-index: -2;
    border-radius: inherit;
    background: $lightGreen;
    background: linear-gradient($lightGreen $lightGreen);
    box-shadow:
      inset 0 1px 0 rgba(255,255,255,0.1),
      0 1px 2px rgba(0,0,0,0.3),
      0 0 10px rgba(0,0,0,0.15);
    
  }

  label:after {
    display: none;
  }
  
  label:before {
     content: ""; 
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: inset 0 10px 10px rgba(0,0,0,0.13); 
    -webkit-filter:blur(1px);
    filter: blur(1px); 
  }
  
  input:checked ~ label {
    box-shadow:
      inset 0 2px 3px rgba(255,255,255,0.13),
      0 5px 8px rgba(0,0,0,0.35),
      0 3px 10px 4px rgba(0,0,0,0.2);
    color: #9abb82;
    background: $lightGreen;
    background: linear-gradient($lightGreen $lightGreen);

  } 
  
  .icon-off:after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    z-index: -1;
    margin: -35% 0 0 -35%;
    border-radius: 50%;
    background: linear-gradient(#6f6d79, #4c4a53);
    box-shadow:
      0 -2px 5px rgba(255,255,255,0.05),
      0 2px 5px rgba(255,255,255,0.1);
    -webkit-filter:blur(1px);
    filter: blur(1px); 
  }

  input {
     display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    position: absolute;
    cursor: pointer;
  }

  body.flashlight-cursor {
    cursor: url('/assets/icons/star.png') 10 10, auto;
  }
