@import './../../../styles.scss';

section {
    background: #1C1C1C;
    width: 100%;
    padding: 8% 8% 0 8%; 
    box-sizing: border-box;
    @include dFlex();
    @media(min-width: 1440px) {
        width: 1440px;
        margin: 0 auto;
        padding: 120px 132px 0 132px;
    }
    @media(max-width: 920px) {
        padding-top: 130px;
    }
    @media(max-width: 450px) {
        padding: 88px 15px 0 15px;
    }
    
    .main-content {
        @include dFlex($jc: space-between, $ai: space-between, $g: 8%);
        width: 100%;
        @media(max-width: 850px) {
            flex-direction: column;
            align-items: center;
        }
        >div {
            position: relative;
            height: 100%;
            .photo {
                border-radius: 30px;
                width: 25vw;
                @media(min-width: 1440px) {
                    width: 418px;
                }
                @media(max-width: 850px) {
                    width: 40vw;
                }  
                @media(max-width: 630px) {
                    width: 60vw;
                    align-self: center;
                }  
                @media(max-width: 450px) {
                    width: 100%;
                }  
            }
            .bg-stripes {
                position: absolute;
                top: 0;
                left: 0;
                height: 98%;
                width: 100%;
                border-radius: 30px;
                transition: 1s ease-in-out;
                background: repeating-linear-gradient(
                    45deg,
                    $lightGreen,
                    $lightGreen 1px,
                    transparent 1px,
                    transparent 25px,
                    );
                @media(max-width: 1050px) {
                        background: repeating-linear-gradient(
                            45deg,
                            $lightGreen,
                            $lightGreen 1px,
                            transparent 1px,
                            transparent 21px,
                            );            
                }
                @media(max-width: 850px) {
                    background: repeating-linear-gradient(
                        45deg,
                        $lightGreen,
                        $lightGreen 1px,
                        transparent 1px,
                        transparent 17px,
                        );            
                }
                @media(max-width: 450px) {
                    display: none;
                }

            }
            .upper-photo {
                position: absolute;
                border-radius: 30px;
                width: 25vw;
                z-index: 2;
                @media(min-width: 1440px) {
                    width: 418px;
                }
                @media(max-width: 850px) {
                    width: 40vw;
                }  
                @media(max-width: 630px) {
                    width: 60vw;
                    align-self: center;
                }  
                @media(max-width: 450px) {
                    width: 100%;
                }  
            }
        }
        .about-me-cont{
            @include dFlex($ai: flex-start, $jc: flex-end);
            flex-direction: column;
            margin-top: 200px;
            @media(max-width: 850px) {
                margin-top: 56px;
                // margin-bottom: 56px;
            }
            .about-me-description {
                font-size: 24px;
                color: $lightGreen;
                font-family: 'Karla';
                margin-bottom: 24px;
                @media(max-width: 630px) {
                    font-size: 18px;
                }
            }        
        }
    }
    .about-me {
        padding: 32px;
        border: solid 1px $lightGreen;
        border-radius: 30px;
        background-color: #3DCFB61A;
        .headline{
            font-size: 64px;
            font-weight: 700;
            margin-bottom: 32px;
            color: $lightGreen;
            @media(max-width: 850px) {
                font-size: 56px;
            }
            @media(max-width: 400px) {
                font-size: 38px;
            }
        }
        >p {
            color: white;
            font-family: 'Karla'
        }
        .about-me-paragraph {
            @include dFlex($jc: space-between, $g: 12px);
            color: $blurredWhite;
            font-family: 'Karla';
            &:hover {
                color: white;
            }
        }
    
    }
}

.hover-stripes {
    left: -8%;
    top: 5%;
}
