@import './../styles.scss';

.project-popup {
    position: fixed;
    z-index: 99;
    @include dFlex();
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
}

.header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 98;
    top: -7vh;
    z-index: 99;
    @media(min-width: 1440px) {
        top: -64px;
    }
    @media(max-width: 920px) {
        top: 0;
    }
}
.main-content {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    @media(min-width: 1440px) {
        margin: 0 auto;
    }
}
