@import './../../styles.scss';

content {
    position: relative;
}
.project-popup {
    position: absolute;
    z-index: 10;
    @include dFlex($ai: flex-end);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    // visibility: hidden;  
}