@import './../../../../styles.scss';

section {
    padding: 72px;
    background: $bgColorGradient;
    // height: 400px;
    width: 77%;
    border: solid 1px $lightGreen;
    border-radius: 30px;
    @include dFlex($jc: space-between, $g: 32px);
    .project-details {
        @include dFlex($ai: flex-start, $jc: space-between, $g: 40px);
        flex-direction: column;
        width: 50%;
        height: 100%;
        >div {
            >span {
                font-family: 'Karla';
                font-size: 128px;
                font-weight: 700;
                line-height: 100px;
                letter-spacing: -0.02em;
                text-align: left;
                color: $lightGreen;
            }
            .title {
                font-size: 64px;
                font-weight: 700;
                line-height: 51.2px;
                letter-spacing: -0.03em;
                text-align: left;
                color: white;
                margin-top: 16px;
            }
        } 
        .main-details {
            @include dFlex($ai: flex-start, $jc: space-between, $g: 15px);
            flex-direction: column;
            .subtitle {
                font-size: 24px;
                color: $lightGreen;
                font-weight: 700;
            }
            >p {
                font-family: 'Karla';
                font-size: 18px;
                color: white;
            }
            .skills {
                @include dFlex($jc: space-between, $g:15px);
                .skill{
                    @include dFlex($g: 8px);
                    >img {
                        height: 24px;
                    }
                    >span {
                        color: white;
                        font-family: 'Karla';
                    }
                }
            }    
        }
        .buttons {
            @include dFlex($jc: space-between, $g: 24px);
            >a {
                position: relative;
                &:hover {
                    color: $lightGreen;
                }
                &:hover >img {
                    right: 18px;
                    top: 8px;
                }
                >div {
                    font-family: 'Karla';
                    font-size: 18px;
                    margin-right: 24px;    
                }
                >img {
                    position: absolute;
                    height: 22px;
                    right: 22px;
                    top: 12px;
                    transition: 0.5s ease-in-out;
                }
            }
        }

    }
    .project-img-cont {
        @include dFlex($ai: flex-end, $jc: space-between, $g: 56px);
        flex-direction: column;
        // height: 100%;
        // width: auto;
        >svg {
            cursor: pointer;
            transition: 0.5s ease;
            &:hover >path {
                fill: $lightGreen;
            }
            &:hover {
                transform: scale(1.3);
            }
        }
        .project-img {
            height: 300px;
            width: auto;
            border-radius: 30px;
        }
        .next-project {
            position: relative;
            @include dFlex($g: 15px);
            cursor: pointer;
            // &:hover {
            //     gap: 20px;
            // }
            &:hover >img {
                right: -20px;
            }
            >span {
                color: $lightGreen;
                font-size: 18px;
                font-family: 'Karla';
                margin-right: 32px;
                &:hover {
                    color: white;
                }    
            }
            >img {
                position: absolute;
                right: 0;
                transition: 1s ease;
            }
        }
    }
}

