@import './../../../../styles.scss';

section {
    // padding: 104px;
    background: $bgColorGradient;
    height: 600px;
    width: 85.5%;
    border: solid 1px $lightGreen;
    border-radius: 60px;
}