<section>
    <div class="project-details">
        <span>{{project.id}}</span>
        <h1>{{project.name}}</h1>
        <p>{{project.description}}</p>
        <div class="skills">
            @for(skill of project.skills; track project.name) {
                <div class="skillset">
                    <img src="{{skill.icon}}">
                    <span>{{skill.name}}</span>
                </div>
            }    
        </div>
        <div class="buttons">
            <a class="btn" href="{{project.githubSrc}}">Github
                <img src="assets/icons/arrow-right-up.svg" alt="">
            </a>
            <a class="btn" href="{{project.githubSrc}}">Live Test
                <img src="assets/icons/arrow-right-up.svg" alt="">
            </a>    
        </div>
    </div>
</section>
