<div class="legal-notice-content" #imprint>
    <h2>{{ "imprint" | translate }}</h2>
    <div class='legal-notice-text'>
        <p>{{ "sectionFive" | translate }}</p>
        <p>Anna Fritz <br> 
            Plantagenweg 13<br> 
            31303 Burgdorf <br></p>
        <p><strong>{{ "represented" | translate }}</strong><br>
            Anna Fritz<br></p>
        <p><strong>{{ "contact" | translate }}:</strong><br>
            {{ "phone" | translate }}: +49 15785094457<br>
            E-mail: <a class="email" href='#contact'>{{projectdata.mail}}</a></p>
        <p class="main-content" [innerHTML]=" 'disclaimer' | translate "></p><br>
    </div>
</div>

