@import './../../styles.scss';

.legal-notice-content {
    background: $bgColor;
    width: 100%;
    padding: 156px 8% 48px 8%; 
    box-sizing: border-box;
    @include dFlex();
    flex-direction: column;
    color: white;
    @media(min-width: 1440px) {
        width: 1440px;
        margin: 0 auto;
        padding: 156px 132px 48px 132px;
    }
    @media(max-width: 920px) {
        padding-top: 32px;
    }
    @media(max-width: 450px) {
        padding: 24px 15px 48px 15px;
    }
    .legal-notice-text {
        font-family: 'Karla';
        text-align: center;
        >p >a {
            color: $lightGreen;
            text-decoration: none;
        }    
        .main-content {
            text-align: left;
            margin-top: 48px;
        }
    }
}
