@import './../../../styles.scss';

section {
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, #2F5B53 0%, #1C1C1C 100%);
    width: 100%;
    padding: 0 120px 120px 120px; 
    box-sizing: border-box;
    @include dFlex();
    .main-content {
        @include dFlex($jc: space-between, $ai: space-between, $g: 8%);
        width: 100%;
        .skills-text-cont{
            @include dFlex($ai:flex-start);
            flex-direction: column;
            width: 110%;
            .skills-subtitle {
                font-size: 24px;
                color: $lightGreen;
                font-family: 'Karla';
                margin-bottom: 24px;
            }
            .skills-text {
                padding: 32px;
                border: solid 1px $lightGreen;
                border-radius: 30px;
                background-color: #3DCFB61A;
                @include dFlex($ai: flex-start, $g:40px);
                flex-direction: column;
                .headline{
                    font-size: 64px;
                    font-weight: 700;
                    color: $lightGreen;
                }
                .paragraph {
                    color: white;
                    font-family: 'Karla';
                    font-size: 18px;
                    margin: 0;
                }
                .skill-question {
                    color: white;
                    font-size: 24px;
                    font-weight: 700;
                    .green {
                        color: $lightGreen;
                    }
                }
                >div >p {
                    color: white;
                    font-family: 'Karla';
                    margin: 16px 0 0 0;
                }
                >a {
                    width: 104px;
                }
            }                
        }
    }
    .skills-icons {
        @include dFlex($jc:space-between, $ai: space-between, $g: 20px);
        flex-wrap: wrap;
        // width: 100vw;
        // height: 30vh;
        margin-top: 48px;
        .icon-cont {
            @include dFlex($g: 20px);
            flex-direction: column;
            width: 104px;
            height: 12vh;
            &:hover >span {
                color: $lightGreen;
            }
            &:hover >img {
                transform: scale(1.15);
                filter: drop-shadow(0px 0px 8px $lightGreen);
            }
            >img {
                transition: 0.4s ease;
                // &:hover {
                //     transform: scale(1.15);
                //     filter: drop-shadow(0px 0px 8px $lightGreen);
                // }
            }
            >span {
                color: white;
                text-align: center;
            }
        }
        .growth-icon {
            position: relative;
            &:hover .growth-popup {
                visibility: visible;
            }
        }
        .challenge-icon {
            position: relative;
            &:hover .challenge-popup {
                visibility: visible;
            }
        }
    }
}

.growth-popup {
    visibility: hidden;
    position: absolute;
    z-index: 5;
    top: -136%;
    .popup-bubble {
        background-color: white;
        padding: 12px 16px;
        border-radius: 10px;
        width: 180%;
        // width: 188px;
        // height: 112px;
        @include dFlex($jc: space-between, $g: 10px);
        flex-direction: column;
        font-family: 'Karla';
        >span {
            color: $lightGreen;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }
        .popup-icons {
            @include dFlex($g: 15px);
            // margin-top: 12px;
            // height: 4vh;
            // margin-bottom: 8px;
            .popup-icon {
                @include dFlex($ai: space-between, $g: 5px);
                flex-direction: column;
                // height: 24px;
                >span {
                    color: $lightGreen;
                    font-size: 12px;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
    }
    >img {
        position: relative;
        margin-left: 44px;
        top: -1px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}

.challenge-popup {
    visibility: hidden;
    position: absolute;
    z-index: 5;
    top: -124%;
    right: 8px;
    .popup-bubble {
        background-color: white;
        padding: 12px 16px;
        border-radius: 10px;
        width: 120%;
        @include dFlex($jc: space-between, $g: 10px);
        flex-direction: column;
        font-family: 'Karla';
        >span {
            color: $lightGreen;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    }
    >img {
        position: relative;
        margin-left: 80px;
        top: -1px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}



