<div id="skillset" class="bg-area" (mouseenter)="projectdata.setNavbarBlack()">
<section>
    <div class="main-content">
        <div class="skills-text-cont">
            <span class="skills-subtitle">{{ "technologies" | translate }}</span>
            <div class="skills-text">
                <span class="headline">{{ "skillSet" | translate }}</span>
                <p class="paragraph">{{ "skillsGeneral" | translate }}</p>
                <div>
                    <span class="skill-question">
                        {{ "skillsQuestionFirst" | translate }}<span class='green'>{{ "skillsQuestionFocus" | translate }}</span>{{ "skillsQuestionLast" | translate}}
                    </span>
                    <p [innerHTML]="'skillsInvite' | translate"></p>    
                </div>
                <a routerLink="" fragment="contact" class="btn">
                    <span>{{ "letsTalk" | translate }}</span>
                </a>
            </div>
        </div>
        <div class="skills-icons">
            @for (skill of skillIcons; track skill.name) {
                <div class="icon-cont">
                    <img src="{{skill.src}}" alt="">
                    <span>{{skill.name}}</span>    
                </div>
            }
            <div class="icon-cont growth-icon">
                <div class="icon-img">
                    <img src="assets/icons/skills/growth_mindset.svg" alt="">
                    <div class="growth-popup">
                        <div class="popup-bubble">
                            <span>{{ "learning" | translate }}</span>
                            <div class="popup-icons">
                                <div class="popup-icon">
                                    <img src="./../../../assets/icons/skills/React.svg" alt="">
                                    <span>React</span>
                                </div>
                                <div class="popup-icon">
                                    <img src="./../../../assets/icons/skills/vue_js.svg" alt="">
                                    <span>Vue Js</span>
                                </div>
                            </div>
                        </div>
                        <img src="./../../../assets/icons/skills/popup-triangle.svg">
                    </div>
                </div>
                <span>{{ "growthMind" | translate }}</span>
            </div>
            <div class="icon-cont challenge-icon">
                <div class="icon-img">
                    <img src="assets/icons/skills/challenge_me.svg" alt="">
                    <div class="challenge-popup">
                        <div class="popup-bubble">
                            <span>{{ "challengeText" | translate }}</span>
                        </div>
                        <img src="./../../../assets/icons/skills/popup-triangle.svg">
                    </div>    
                </div>
                <span>{{ "challenge" | translate }}</span>
            </div>
        </div>
    </div>
</section>
</div>
