@import './../../../styles.scss';

section {
    position: relative;
    @include dFlex($jc: space-between);
    height: auto;
    // width: 100%;
    padding-bottom: 24px;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(90deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 10%, rgba(28, 28, 28, 0) 90%, #1C1C1C 100%);

    @media(min-width: 1440px) {
        width: 1440px;
        // width: 1176px;
        height: 454px;
        margin: 0 auto;
    }
    >span {
        font-size: 32px;
        color: $lightGreen;
    }
    .quotes {
        position: absolute;
        z-index: 2;
        left: 23.5vw;
        top: 66px;
        @media(min-width: 1440px) {
            left: 338px;
        }

    }
    .main-content {
        @include dFlex($g: 7vw);
        // @include dFlex($jc: space-between, $g: 6vw);
        // overflow-x: scroll;
        white-space: nowrap;
        // padding: 56px 0 56px 2030px;

        padding: 56px 0 56px 143%;
        // width: auto;
        // height: auto;
        // height: 27vh;
        transition: transform 0.3s ease-in-out;
        @media(min-width: 1440px) {
            padding-left: 2244px;
            gap: 102px;
        }
        @media(max-width: 650px) {
            padding-left: 259%;
            gap: 9vw;
        }

        .reference {
            white-space: wrap;
            // width: 70%;
            // width: 570px;
            width: 40vw;
            min-height: 280px;
            @include dFlex($jc: space-between, $ai: flex-start);
            flex-direction: column;
            background-color: #3DCFB61A;
            border: solid 1px $lightGreen;
            border-radius: 25px;
            padding: 40px 32px;
            box-sizing: border-box;
            @media(min-width: 1440px) {
                height: 280px;
                width: 630px;
            }
            @media(max-width: 650px) {
                width: 75vw;
            }
            >span {
                color: $blurredWhite;
                font-size: 17px;
                font-family: 'Karla';
            }
            .referee {
                @include dFlex($jc: space-between, $g: 10px);
                width: 100%;
                .line {
                    background-color: white;
                    height: 2px;
                    width: auto;
                    flex: 1;
                    border-radius: 10px; 
                }
                >span {
                    color: white;
                    font-size: 16px;
                    font-family: 'Karla';
                }
            }
        }
    }
    .shadow {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        height: 90%;
        background: linear-gradient(90deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 10%, rgba(28, 28, 28, 0) 90%, #1C1C1C 100%);
    }    
    .switch-cont {
        @include dFlex($g: 15px);
        position: relative;
        .arrow-left {
            position: absolute;
            cursor: pointer;
            left: -40px;
            top: -7px;
            transition: 1s ease;
            &:hover {
                left: -50px;
            }
            &:hover >svg >path {
                fill: $lightGreen;
            }
        }
        .arrow-right {
            position: absolute;
            cursor: pointer;
            right: -60px;
            top: 0;
            transition: 1s ease;
            &:hover {
                right: -80px;
            }
            &:hover >svg >path {
                fill: $lightGreen;
            }
        }
        .dot {
            background-color: white;
        }
    }
}

.reference-in-focus {
    transform: scale(1.15);
    background-color: $blurredGreen !important;
    color: white;
}
