$bgColor: #1C1C1C;
$lightGreen: #3DCFB6;
$hoverGreen: #2F5B53;
$blurredGreen: #3DCFB64D;
$darkGreen: #2B3A37;
$validationRed: #EC7B7BCC;
$blurredWhite: #FFFFFFCC;
$lightGray: #D9D9D9;
$bgColorGradient: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);


@mixin dFlex($jc:center, $ai:center, $g:0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

.no-scroll {
    overflow: hidden;
}

body {
    margin: 0 ;
    background-color: $bgColor;
    font-family: 'Fira Code';
    scroll-behavior: smooth;
    scrollbar-color: gray;
    scrollbar-width: thin;    
}

// body::-webkit-scrollbar {

// }

@keyframes moveBtnText {
    0% {
      transform: translate(110%);
    }  
    100% {
      transform: translate(-130%);
    }  
}

.btn {
    position: relative;
    @include dFlex();
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: solid 1px white;
    border-radius: 24px;
    font-family: 'Karla';
    cursor: pointer;
    overflow: hidden;
    &:hover {
        border: solid 1px $lightGreen;
    }
    &:hover span {
        color: $lightGreen;
        animation: moveBtnText 2s linear infinite;
    }
}

.dot {
    height: 7px;
    width: 7px;
    background-color: $lightGreen;
    border-radius: 5px;
}

.green-line {
    height: 1px;
    background-color: $lightGreen;
    width: 100%;
}

/* fira-code-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  /* karla-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    text-align: justified;
    line-height: 21.6px;
    src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// scrollbar styling

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    // border: none;
    // border: 3px solid #5e6472;
    border-radius: 15px;
    background-color: $bgColor;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, $darkGreen, $lightGreen);
    border-radius: 15px;
    &:hover {
        background: $lightGreen;
    }
    &:active {
        background: $hoverGreen;
    }
  }
  
  
  /*  To customize the sliding buttons*/

  ::-webkit-scrollbar-button:single-button {
    background-color: $bgColor;
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
  }
  
  /* Up */
  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-radius: 5px 5px 0 0;
    height: 16px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 255, 213)'><polygon points='50,00 0,50 100,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(61, 207, 182, 0.302)'><polygon points='50,00 0,50 100,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
  }
  
  /* Down */
  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-radius: 0px 0px 5px 5px;
    height: 16px;
    width: 16px;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 255, 213)'><polygon points='0,0 100,0 50,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(61, 207, 182, 0.302)'><polygon points='0,0 100,0 50,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
  }
  
  /* Left */
  ::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-radius: 5px 0px 0 5px;
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 255, 213)'><polygon points='0,50 50,100 50,0'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(61, 207, 182, 0.302)'><polygon points='0,50 50,100 50,0'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
  }
  
  /* Right */
  ::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-radius: 0 5px 5px 0;
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(0, 255, 213)'><polygon points='0,0 0,100 50,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(61, 207, 182, 0.302)'><polygon points='0,0 0,100 50,50'/></svg>");
  }
  
  ::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
  }

