$bgColor: #1C1C1C;
// $bgColor: #292929;
$lightGreen: #3DCFB6;;
$hoverGreen: #2F5B53;
$darkGreen: #2B3A37;
$validationRed: #EC7B7BCC;
$blurredWhite: #FFFFFFCC;
$lightGray: #D9D9D9;
$bgColorGradient: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

@mixin dFlex($jc:center, $ai:center, $g:0) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin hoverDot($v:hidden, $b:-15px, $l:45%) {
    visibility: hidden;
    position: absolute;
    bottom: $b;
    left: $l;
    height: 7px;
    width: 7px;
    background-color: $lightGreen;
    border-radius: 5px;
}

body {
    margin: 0;
    // background-color: $bgColor;
    font-family: 'Fira Code';
}

@keyframes moveBtnText {
    0% {
      transform: translate(110%);
    }  
    100% {
      transform: translate(-130%);
    }  
}


.btn {
    position: relative;
    @include dFlex();
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: solid 1px white;
    border-radius: 24px;
    font-family: 'Karla';
    cursor: pointer;
    overflow: hidden;
    &:hover {
        border: solid 1px $lightGreen;
    }
    &:hover span {
        color: $lightGreen;
        animation: moveBtnText 2s linear infinite;
    }
}

.dot {
    height: 7px;
    width: 7px;
    background-color: $lightGreen;
    border-radius: 5px;
}




/* fira-code-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  /* karla-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Karla thin';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/karla-v31-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



