<footer>
    <div class="left-section">
        @if (screenwidth <= 430) {
            <img src="assets/icons/logoAF.svg" alt="Logo Anna Fritz">

        } @else {
            <img src="assets/icons/logoAFbig.svg" alt="Logo Anna Fritz">
        }   
        <p>{{ "developer" | translate }}</p>
        <p>Laufenburg (Baden), <br>Germany</p>
    </div>
    <div class="middle-section">
        <span>© Anna Fritz 2024</span>
    </div>
    <div class="right-section">
        <a href="https://github.com/Anna-Fritz">
            <span>Github</span>
            <div class="hover-dot"></div>
        </a>
        <a href="https://www.linkedin.com/in/anna-fritz-718293296/">
            <span>LinkedIn</span>
            <div class="hover-dot"></div>
        </a>
        <a href="mailto:anna.fritz@email.com">
            <span>Email</span>
            <div class="hover-dot"></div>
        </a>
        <a href="imprint">
            <span>{{ "imprint" | translate }}</span>
            <div class="hover-dot"></div>
        </a>
    </div>
</footer>

<div class="mobile-middle-section">
    <span>© Anna Fritz 2024</span>
</div>    
