<footer>
    <div class="left-section">
        <img src="" alt="">
        <p>Web Developer</p>
        <p>Laufenburg (Baden), Germany</p>
    </div>
    <div class="middle-section">
        <span>© Anna Fritz 2024</span>
    </div>
    <div class="right-section">
        <a href="https://github.com/Anna-Fritz">
            <span>Github</span>
            <div class="hover-dot"></div>
        </a>
        <a href="https://www.linkedin.com/in/anna-fritz-718293296/">
            <span>LinkedIn</span>
            <div class="hover-dot"></div>
        </a>
        <a href="mailto:anna.fritz@email.com">
            <span>Email</span>
            <div class="hover-dot"></div>
        </a>
        <a href="imprint">
            <span>Legal Notice</span>
            <div class="hover-dot"></div>
        </a>
    </div>
</footer>
